{% extends 'base.html.twig' %}

{% block title %}Index Logs{% endblock %}

{% block body %}
    <h1>Historique des actions de MyBooks</h1>

    <div class="table-responsive">
        {% if logs is not empty %}
            <table id="logs" class="table table-bordered table-hover">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Message</th>
                    <th>Date</th>
                </tr>
                </thead>
                <tbody>
                {% for log in logs %}
                    <tr>
                        <td>{{ log.id }}</td>
                        <td>{{ log.message }}</td>
                        <td>{{ log.getCreationDate()|date('d-m-Y H:i:s') }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p class="alert alert-info"><b>Historique vide pour le moment</b></p>
        {% endif %}
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vanilla-datatables@latest"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            new DataTable('#logs', {
                searchable: true,
                sortable: true,
                labels: {
                    placeholder: 'Rechercher...', // Placeholder de recherche
                    perPage: '{select} entrées par page', // Texte pour le nombre d'entrées par page
                    noRows: 'Aucune entrée trouvée', // Texte lorsqu'aucune entrée n'est trouvée
                    info: 'Affichage des entrées {start} à {end} sur {rows} entrées' // Information sur la pagination
                }
            });

            var input = document.querySelector('.dataTable-input');
            var selector = document.querySelector('.dataTable-selector');
            var pagination = document.querySelector('.dataTable-pagination');

            if (input) {
                input.classList.add('form-control');
            }
            if (selector) {
                selector.classList.add('form-control');
            }
            if (pagination) {
                pagination.classList.add('d-flex');
                pagination.classList.add('justify-content-center');
            }
        });
    </script>
{% endblock %}
