{% extends 'base.html.twig' %}

{% block title %}Mise à jour d'un livre{% endblock %}

{% block body %}
    <h1>Mise à jour du livre</h1>

    {{ include('book/update_form.html.twig') }}
{% endblock %}