{% extends 'base.html.twig' %}

{% block title %}New Book{% endblock %}

{% block body %}
    <h1>Ajouter une maison d'édition dans le catalogue</h1>

    {{ include('editor/_form.html.twig') }}
{% endblock %}