<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">MyBooks</a>
        <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav">
                <div class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownLivres" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Livres
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownLivres">
                        <a class="dropdown-item" href="/book">Visualiser notre collection</a>
                        <a class="dropdown-item" href="/book/new">Nouveau Livre</a>
                    </div>
                </div>
                <div class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownEditor" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Les éditeurs
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownEditor">
                        <a class="dropdown-item" href="/editor">Visualiser nos éditeurs</a>
                        <a class="dropdown-item" href="/editor/new">Enregistrer une maison d'édition</a>
                    </div>
                </div>
                {% if session.userId is defined %}
                    <a class="nav-item nav-link" href="/logs">Historique</a>
                    <a class="nav-item nav-link" href="/config">Configuration</a>
                {% endif %}
            </div>
            <div class="navbar-nav ms-auto">
                {% if session.userId is defined %}
                    <a class="nav-item nav-link" href="/logout">Déconnexion</a>
                {% else %}
                    <a class="nav-item nav-link" href="/login">Connexion</a>
                {% endif %}
            </div>
        </div>
    </div>
</nav>